*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: 1;
  margin: 0;
  padding: 0;
}


html,
body {
  background-color: $ui-body;
  color: $ui-text;
  font-family: Arial, Helvetica, Sans-serif;
  font-size: $font-size;
  margin: 0;
  padding: 0;
  width: 100%;
}
